*{
    margin: 10px;
    padding: 10px;
}
.box1{
    /* 1、尺寸 */
    width: 1200px;
    height: 600px;
    border: 3px solid black;
    border-radius: 8px;
    padding: 10px 20px;
    box-sizing: border-box; /* 元素横线更改属性值 */
    /* margin: 30px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto; */
    margin:150px auto;

    /* 2、背景处理 */
    /* background-color: #f9f9f9; */
    background-image: url(./1.png);
    box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
    position: relative; /* 相对定位 */
}
 /* 3、文字处理 */
 .box1 p{
     font-size: 15px;
     color: purple;
     text-indent: 2em;  /* 首行缩进 */
     background-color: aqua;
 }
 .box1 h1{
    font-size: 50px;
    /* font-family: '微软雅黑'; */
    font-weight: bold;
    text-align: center;
    line-height: 25px;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    text-decoration: dashed underline skyblue;
}
 .box1 span{
    color: rgb(50, 49, 49);
    background-color: chocolate;
    line-height: 25px;
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* 4、位置 */
    /* position: absolute; 相对于父元素body定位 */
    position: fixed; /* 相对于浏览器窗口定位 */
    top:200px;
    left:1px;

 }
 

 /* 5、布局处理 */

 /* 6、动画处理 */


.box2{
    width: 1000px;
    height: 200px;
    background-color: blue;
}